// ==========================================================================
//
// ACCORDION
//
// Description: Base accordion styles
//
// ==========================================================================

// ==========================================================================
// # VARIABLES
// ==========================================================================

// COLORS
$off-white:         #fafafa;
$black:             #323232;
$grey:              #6C7A89;
$grey-light:        #95A5A6;
$blue:              #2574A9;

// UNITS
$spacing-unit:      40px;
$half-spacing-unit: $spacing-unit / 2;

// BORDER
$accordion-border:  solid 2px $grey-light;

// ANIMATION
$transition-time:   0.2s;
