// ==========================================================================
//
// ACCORDION
//
// Description: Base accordion styles that are ESSENTIAL for the accordion
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

// .badger-accordion {}

.badger-accordion__panel {
    max-height: 75vh;
    overflow: hidden;

    // scss-lint:disable ImportantRule
    &.-ba-is-hidden { max-height: 0 !important; }

    // transition is added via `badger-accordion--initalised` to stop animation on initalition
    .badger-accordion--initalised & { transition: all ease-in-out 0.2s; }
}
