// ==========================================================================
//
// BADGER ACCORDION DEMO
//
// Description: Styles for the demo page. Including reset.css
//
// ==========================================================================

// ==========================================================================
// # IMPORTS
// ==========================================================================
@import "reset";





// ==========================================================================
// # VARIABLES
// ==========================================================================

// COLORS
$white: #fff;
$off-white: #fafafa;
$black: #323232;
$grey: #6C7A89;
$grey-light: #95A5A6;
$blue: #2574A9;
$dark-blue: #34495e;
$green: #16a085;

// UNITS
$spacing-unit: 40px;
$half-spacing-unit: $spacing-unit / 2;

// BORDER
$accordion-border: solid 2px $grey-light;

// ANIMATION
$transition-time: 0.2s;
@mixin base-trans {
    transition: all ease-in-out $transition-time;
}

// LINKS
@mixin link-underline {
    box-shadow: inset 0 -2px currentColor;
}






// ==========================================================================
// # BASE
// ==========================================================================

html {
    color: $black;
    font-family: 'Josefin Sans', Arial;
    font-size: 16px;
    line-height: 1.25;
}

body {
    background: #EFF1F0;
    min-height: 100vh;
}

.vh {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

.vh.focusable:active,
.vh.focusable:focus {
    position: static;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
}

.container {
    max-width: 720px;
    margin: 10vh auto 0;
}

@media screen and (max-width: 767px) {
    .container {
        margin: 10vh auto;
        width: 90%;
    }
}

.header {
    display: block;
    margin: 0 auto $spacing-unit * 1.5;
    max-width: 75%;
    text-align: center;
}

.heading--alpha {
    font-family: 'Josefin Slab';
    color: $dark-blue;
    font-size: 3.25rem;
    line-height: 1.35;
    margin-bottom: $spacing-unit/4;
}

button {
    border: 0;
    width: 100%;
    font-size: 1em;
}

p {
    line-height: 1.25;
    margin: $half-spacing-unit auto;
}

a { color: $dark-blue; }

.inline-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list__item { display: inline-block; }


.icon-link {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;

    &:focus {
        .icon-link__text { @include link-underline; }
    }

    svg {
        @include base-trans;
        fill: $dark-blue;
        margin-left: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .icon-link:hover {
        .icon-link__text { @include link-underline; }

        svg { fill: #000; }
    }
}

.icon-link__text { @include base-trans; }




// ==========================================================================
// # DEMO ACCORDION
// ==========================================================================

.badger-accordion {
    box-shadow: 0 1px 10px rgba(0,0,0,.1), 0 1px 4px rgba(0,0,0,.1);
    border-radius: 4px;
    overflow: hidden;
}

.badger-accordion__header {
    &:not(:last-of-type) {
        border-bottom: 1px solid #EFF1F0;
    }
}

.badger-accordion__trigger {
    align-content: space-between;
    align-items: center;
    background-color: $white;
    border: 0;
    border-radius: 0px;
    color: $dark-blue;
    display: flex;
    font-family: 'Josefin Sans', Arial;
    font-size: 1.25rem;
    line-height: 1;
    padding: $half-spacing-unit;
    text-align: left;
    transition: all ease-in-out $transition-time;
    width: 100%;

    &[aria-expanded=true] {
        .badger-accordion__trigger-icon {
            &:before {
                transform: rotate(45deg) translate3d(13px, 14px, 0);
            }

            &:after {
                transform: rotate(-45deg) translate3d(-13px, 14px, 0);
            }
        }
    }

    &:focus,
    &:hover {
        background-color: $green;
        cursor: pointer;
        outline: none;

        .badger-accordion__trigger-title { color: $white; }

        .badger-accordion__trigger-icon {
            &:after,
            &:before {
                background-color: $white;
            }
        }
    }
}


.badger-accordion__trigger-title {
    font-size: 1.2rem;
    transition: ease-in-out 0.3s;
}

.badger-accordion__trigger-icon {
    display: block;
    height: $spacing-unit;
    margin-left: auto;
    position: relative;
    transition: all ease-in-out $transition-time;
    width: $spacing-unit;

    &:after,
    &:before {
        background-color: #333;
        content: "";
        height: 3px;
        position: absolute;
        top: 10px;
        transition: all ease-in-out (($transition-time / 3) * 2);
        width: 30px;
    }

    &:before {
        left: 1px;
        transform: rotate(45deg) translate3d(8px, 22px, 0);
        transform-origin: 100%;
    }

    &:after {
        transform: rotate(-45deg) translate3d(-8px, 22px, 0);
        right: 1px;
        transform-origin: 0;
    }
}

.badger-accordion__panel {
    background-color: $off-white;
    position: relative;

    &:after {
        background-color: #EFF1F0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

.badger-accordion__panel-inner {
    padding: $half-spacing-unit $half-spacing-unit $spacing-unit;
}


@media screen and (max-width: 767px) {
    .badger-accordion__trigger-icon {
        display: none;
        padding: $half-spacing-unit;
    }
}
