// ==========================================================================
//
// MIXINS
//
// Description: Base accordion styles
//
// ==========================================================================

// Used to scope your selectors as you'd like
$class: "badger-accordion";


// ==========================================================================
// # MIXINS
// ==========================================================================

@mixin accordion-header( $spacing: 40px) {
    .#{$class}__header {
        align-content: space-between;
        align-items: center;
        display: flex;
        padding: $spacing;
    }
}


@mixin accordion-header-theme($bg-color: #95A5A6, $active-bg-color: #2574A9, $transition: all ease-in-out 0.2s) {
    .#{$class}__header {
        background-color: $bg-color;
        transition: $transition;

        &:focus,
        &:hover {
            background-color: $active-bg-color;
            outline: none;
        }
    }
}


@mixin accordion-panel($max-height: 75vh, $transition: all ease-in-out 0.2s) {
    .badger-accordion__panel {
        overflow: hidden;
        position: relative;
        // transition is added via `badger-accordion--initalised` to stop animation on initalition

        .badger-accordion--initalised & {
            max-height: 0;
            transition: $transition;

            // Closing all pannels
            // scss-lint:disable ImportantRule
            &.is-active { max-height: $max-height; } // This should be set with JS ideally so that the transition is smoother

            &.is-hidden { max-height: 0 !important; }
        }
    }
}




@mixin accordion-panel-theme($border: solid 2px darken(#95A5A6, 15%), $transition: all ease-in-out 0.2s) {
    .badger-accordion__panel {
        border-bottom: $border; // ???

        .badger-accordion--initalised & { transition: $transition; }
    }
}
