// ==========================================================================
//
// ACCORDION
//
// Description: Base accordion styles
//
// ==========================================================================

// ==========================================================================
// # VARIABLES
// ==========================================================================

// COLORS
$off-white:         #fafafa;
$grey:              #a8a8a8;
$grey-light:        #d5d5d5;

// UNITS
$spacing-unit:      40px;
$half-spacing-unit: $spacing-unit / 2;

// BORDER
$accordion-border:  solid 2px $grey-light;





// ==========================================================================
// # BASE
// ==========================================================================

// .badger-accordion {}


.badger-accordion__header {
    align-content: space-between;
    align-items: center;
    background-color: $grey-light;
    border-bottom: $accordion-border;
    display: flex;
    padding: $half-spacing-unit;

    &[aria-expanded=true] {
        .badger-accordion__header-icon {
            &:before {
                transform: rotate(45deg) translate3d(14px, 14px, 0);
            }

            &:after {
                transform: rotate(-45deg) translate3d(-14px, 14px, 0);
            }
        }
    }
}


.badger-accordion__header-icon {
    margin-left: auto;
}


.badger-accordion__header-icon {
    background-color: #fff;
    display: block;
    height: $spacing-unit;
    position: relative;
    width: $spacing-unit;

    &:after,
    &:before {
        background-color: #333;
        content: "";
        height: 3px;
        position: absolute;
        top: 10px;
        transition: all ease-in-out 0.1s;
        width: 30px;
    }

    &:before {
        left: 0;
        transform: rotate(45deg) translate3d(8px, 22px, 0);
        transform-origin: 100%;
    }

    &:after {
        transform: rotate(-45deg) translate3d(-8px, 22px, 0);
        right: 0;
        transform-origin: 0%;
    }
}


.badger-accordion__panel {
    background-color: $off-white;
    // border-bottom: $accordion-border;
    overflow: hidden;
    position: relative;
    // transition is added via `badger-accordion--initalised` to stop animation on initalition

    // .js & {
        max-height: 0;

        // Closing all pannels
        // scss-lint:disable ImportantRule
        &.is-active { max-height: 75vh; } // This should be set with JS ideally so that the transition is smoother

        &.is-hidden { max-height: 0 !important; }
    // }

    .badger-accordion--initalised & { transition: all ease-in-out 0.25s; }

    &:after {
        background-color: $grey;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}


.badger-accordion__panel-inner { padding: $half-spacing-unit; }
